<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Account</title>
    <link rel="stylesheet" href="/tablecss.css">
</head>
<body>
<h3>New Account</h3>
<button onclick="backToIndex()">Back to Main Page</button>
<form action="/create" method="post" th:object="${account}">
    <table>
        <tr>
            <td>First Name</td>
            <td>
                <input type="text" th:field="*{firstName}">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" th:field="*{lastName}">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>
                <input type="text" th:field="*{phoneNumber}">
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </td>
        </tr>
        <tr>
            <td>Age</td>
            <td>
                <input type="text" th:field="*{age}">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>

</body>
<script>
    function backToIndex(){
        window.location.href = "/";
    }
</script>
</html>